*{
    box-sizing: border-box;
}
@font-face{
    font-family: "roboto-regular";
    src:url('./roboto/Roboto-Regular.ttf') format('truetype'),
}
@font-face{
    font-family: "hanamontana";
    src:url('./montana/HanahMontana.otf') format('truetype'),
}
body{
    font-family:"roboto-regular", sans-serif;
    color: rgb(10, 10, 10);
    margin: 0;
    padding: 0;
    background-color:#fff;
    font-size: 16px;
    background-image:url('/user/img/axxu_rose.svg');
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
  
}

h1{font-size: 5rem;font-family: "hanamontana";color: black;font-weight: 700;color: rgba(255, 102, 171, 0.867);}
h2{font-size: 4rem;font-family: "hanamontana";color: black;font-weight: 700;color: rgba(255, 102, 171, 0.867);}
h3{font-size: 3rem;font-family: "hanamontana";color: black;font-weight: 700;color: rgba(255, 102, 171, 0.867);}
h4{font-size: 2rem;font-family: "hanamontana";color: black;font-weight: 700;color: rgba(255, 102, 171, 0.867);}
h5{font-size: 25px;font-family: "hanamontana";color: black;font-weight: 700;color: rgba(255, 102, 171, 0.867);}
h6{font-size: 20px;font-family: "hanamontana";color: black;font-weight: 700;color: rgba(255, 102, 171, 0.867);}

.text-bold{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:700;
}
.text-primary{
    color: rgba(255, 102, 171, 0.867);;
}
.text-success{
    color: green;
}
.text-warning{
    color: rgb(247, 140, 0);
}
.btn-primary{
    text-align: center;
    border:1px solid rgba(255, 102, 171, 0.867);
    background-color: rgba(255, 102, 171, 0.867);;
    padding: 12px 20px;
    outline: none;
    color: #fff;
    border-radius: 5px;
    transition:0.25s; 
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
}
.btn-primary:hover{
    background: transparent;
    color: rgba(255, 102, 171, 0.867);
}
h1 .section-title{
    color: rgb(231, 122, 122);
    margin-right:20px;
}
.message_error{
    color: red;
    font-size: 13px;
}
/* La partie de stylisation du header */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    padding-left: 22px;
    padding-right: 22px;
    /* border-bottom:1px solid rgba(19, 18, 18, 0.295); */
    background:#fff;
    /* box-shadow: 0px 3px 8px 1px rgba(19, 18, 18, 0.295); */
    box-shadow: 0px 3px 6px -2px rgba(19, 18, 18, 0.295);
    z-index: 1000;
}

.container{
    /* margin:0% 5% ; */
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    

}
a {transition: all 0.3s ease 0s;text-decoration:none;
}

a:visited, a:link, a:active {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}

nav ul{
list-style: outside none none;
margin: 0;
padding:0;
}
nav ul .li-home{
    margin-left: 0px;
    margin-right:2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav ul li{
    float:left;
    margin-left: 0.8em;
    padding: 5px;
    margin-top: -23px;
    border-radius: 3px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
nav ul li a{
    line-height: 20px;
    color:#000;
}
nav ul li a:hover{
    color: rgba(255, 102, 171, 0.867);
    text-decoration: none;
}
nav ul li a .header-icon{
    margin-right: 0.5rem;
}
nav ul li a{
    display: flex;
}

nav ul .li-connecter{
    float: right;
    margin-right: 13px;
}
nav ul .li-connecter .chevero-login{
    margin-left:5px;
}
nav ul .li-connecter ul{
    border: 1px solid rgba(255, 102, 171, 0.867);
    width: 15%;
    padding-bottom:2px ;
    background-color:rgba(255, 102, 171, 0.867);
    margin: 5px;
    margin-left:-30px;
}
nav ul .li-connecter ul li{
    float: none;
    margin-top: 8px;
    text-align: center;
}
nav ul .li-connecter ul li:last-child{
    padding-bottom: 10px;
}
nav ul .li-connecter ul li a{
    color: #fff;
  }
nav ul .li-connecter ul li a:hover{
  color: #000;
}
nav ul .li-connecter ul{
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
nav ul .li-connecter:hover ul{
    display: block;
    position: absolute;
    opacity: 1;
    visibility: visible;
}

/* Fin de la partie de stylisation du header */

/* La premiere section de la page d'acceuil */
.box-shadow{
    
    background:transparent;
    box-shadow: 0px 0px 15px #0000001a;  
}
section{
    margin-top: 5em;
    display: flex;
    text-align: justify;
    padding: 20px;

}
.section-index{
    margin-top:-1em;
    margin-bottom: -1em;
    padding-top: 1em;
    padding-bottom:3em ;
}
section .card-left {
    width: 65%;
    padding: 0px 15px;
    margin-top:-80px;
}
section .card-left .card-body{
    margin-top:-45px;
    margin-right: 25px;
}
section .card-left .card-body p{ 
    margin-right:5em;
}

section .card-right {
    width: 35%;
    /* border: 1px solid red; */

}
section .card-right .logo{
   width: 100% auto;
   margin-top: -25px;
}
section .card-right .logo img{
    width:100%;
    height: auto;
    float: right;
}
/* fin de la premiere section de la page d'acceuil */


.top-section{
    margin-top: 7em;
}

/* La premiere section de la page d'acceuil rv prenatal */
.home_section{
    background-color: #fff;
}
section .card-left-section2 {
    width: 50%;
    padding: 10px;
}
section .card-left-section2 .logo{
    width: 100%;
    height: auto;
}
section .card-left-section2 .logo img{
    width: 100%;
    height: auto;
    
}
section .card-right-section2 {
    width: 50%;
    padding:10px 20px;
}
section .card-right-section2 h5{
    margin-top:-13px;
    font-size: 3em;
    margin-bottom: -1px;
}
/* fin de la premiere section de la page d'acceuil rv prnatale*/



/* La premiere section de la page d'acceuil vaccin */
section .card-right-section3 {
    width: 50%;
    padding: 10px 20px;
}
section .card-right-section3 .logo{
    padding: 0px 10px;
    width: 100%;
    height: auto;
}
section .card-right-section3 .logo img{
    width: 100%;
    height: auto;
}
section .card-left-section3 {
    width: 50%;
    padding: 10px;
   
}
section .card-left-section3 h5{
    margin-top:-13px;
    font-size: 3em;
    margin-bottom: -1px;
}
/* */
/* fin de la premiere section de la page d'acceuil vaccin*/
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 10px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:5px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
.bottom_border{
    display: flex;
    flex-direction: row;
}
.footer_left{
    width:40%;
    margin: 0 20px;
}
footer .footer_left h6{
    background-color: #fff;
}
footer .footer_left h6 img{
    margin-top: -2em;
    margin-bottom: -5px;
}

.footer_center_1{
    width:30%;
    margin-left: 5em;
    
}
.footer_center_1 h6{
    margin-top: -0.1em;
}

.footer_right{
    width:30%;
    margin: 0 10px;
    display: block;
}
.footer_right h6{
    margin-top: -0.1em;
}
.footer_right form{
    display: flex;
    flex-direction: space-between;
    text-align: center;
    margin-top: 20px;
}
.footer_right form .form_input{
    width: 80%;
}
.footer_right form .button_submit{
    width: 14%;
}
.footer_right form .form_input input{
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgba(255, 102, 171, 0.867);
    border-right: none;
}
.footer_right form .button_submit button{
    width: 100%;
    outline: none;
    padding: 11px;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid rgba(255, 102, 171, 0.867);
    color:#fff;
    background-color: rgba(255, 102, 171, 0.867);
    /* margin-top: 1px; */
    /* border-left: none; */
}
.footer_right form .button_submit button:hover{
    color:rgba(255, 102, 171, 0.867);
    background-color:#fff;
}
.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li a:hover{color:rgba(255, 102, 171, 0.867); border:1px solid rgba(255, 102, 171, 0.867);}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.footer_footer p{
    text-align: center;
    margin-top: 20px;
    margin-left: 4.5em;
    
}
.footer_footer p a{
    color: rgba(255, 102, 171, 0.867);
    text-align: center;
  
}

/* Fin de la partie stylisation du footer */


/* La partie du login */

section .login-body{
    width: 100%;
    margin: 3em 20em;
    background-color: #fff;
    box-shadow: 0px 0px 15px #0000001a;
}
section .login-body .form-group{
    width: 100%;
    height: auto;
    padding: 20px;
    margin-left: 55px;
}

section .login-body .login-header{
    text-align: center;
    display: block;
    padding: 20px;
    margin-bottom: -40px;
}
section .login-body .login-header img{
    width:100px;
    height: 100px;
    box-shadow: 0px 0px 15px #0000001a;
    border-radius: 100%;
}

section .login-body .form-group .box{
    width: 100% auto;
  }


  section .login-body .form-group .box input[type="email"] ,.box input[type="password"]{
    border:1px solid rgba(255, 102, 171, 0.867);
    padding: 10px 10px;
    width: 70%;
    outline: none;
    color: #000;
    border-radius: 5px;
    transition:0.25s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-left: -11px;
    border-radius: 0px 5px 5px 0px;
  }

  section .login-body .form-group .box input[type="email"]:focus ,.box input[type="password"]:focus{
    width: 70%;
    border-color: rgba(255, 102, 171, 0.867);
  }
  section .login-body .form-group .box .contour_input{
      display: flex;
      width: 100%;
  }
  section .login-body .form-group .box .contour_input .icon{
      width:11%;
      padding:10px 10px;
      background-color: rgba(255, 102, 171, 0.867);
      color: #fff;
      border-radius: 5px 0px 0px 5px;
  }
  /* section .login-body .form-group .box input[type="email"]{
  
} */


section .login-body .form-group .box  input[type="checkbox"] + label{
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}
section .login-body .form-group .box  input[type="checkbox"]{
    display: none;
}
section .login-body .form-group .box  input[type="checkbox"] + label:before{
    content: "\2714";
    border: 0.1em solid rgba(255, 102, 171, 0.867);;
    border-radius:0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}
section .login-body .form-group .box  input[type="checkbox"] + label:active:before{
    transform: scale(0);
}
section .login-body .form-group .box  input[type="checkbox"]:checked + label:before{
    background-color: rgba(255, 102, 171, 0.867);;
    border-color: rgba(255, 102, 171, 0.867);;
    color: #fff;
}


section .login-body .form-group .box input[type="submit"]{
    text-align: center;
    border:1px solid rgba(255, 102, 171, 0.867);
    background-color: rgba(255, 102, 171, 0.867);;
    padding: 12px 20px;
    outline: none;
    color: #fff;
    border-radius: 5px;
    transition:0.25s; 
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    width: 78%;
  }
  section .login-body .form-group .box .forgot_password{
      margin-left: 80px;
      text-decoration: underline;
  }
  section .login-body .form-group .box input[type="submit"]:hover{
    background: transparent;
    color: rgba(255, 102, 171, 0.867);;
   
  }

/* Fin de la partie du login */

/* La partie profil principale */
/* 
.container-ul .ul-header{
    margin-left: 80px;
    padding: 5px;
    display: flex;

}
.li-header{
    padding: 5px 15px;
    border:1px solid rgba(0, 0, 0, 0.11);
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    font-size: 18px;
    font-family: serif;
}
.li-header:hover{
    background-color: transparent;
}
.container-ul .ul-header li{
    margin-left: 30px;
    list-style: none;
} */
/* Partie de la maman */

/* Profil right */
section .profile-right{
    margin-right: 25px;
    width: 80%;
    padding: 0 20px;
    background-color:transparent;
    /* border:1px solid  rgba(255, 102, 171, 0.867); */
}
section .profile-right .identification ,.antecedent,.calandirier-cpn,.cpn1,.grossesse{
    border: 1px solid rgba(255, 102, 171, 0.867);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
  
}
/* La partie de la grossesse */

 section .profile-right .grossesse .info_grossesse{
    display: flex;
    justify-content: space-between;
}
 section .profile-right .grossesse .info_grossesse .patient_info{
    border-right: 1px solid black;
    margin-right: 20px;
}
 section .profile-right .grossesse .info_grossesse .patient_info,.grossess_info{
    /* border:1px solid red; */
    width: 50%;
}
.update_profil{
    margin-bottom: 50px;
}
section .profile-right .grossesse .profil_form{
    display: block;
}
section .profile-right .grossesse .profil_form .form_content{
    display: flex;
    justify-content: space-between;
}
section .profile-right .grossesse .profil_form .form_content .form_left,.form_right{
    width: 50%;
    padding: 10px;
}
section .profile-right .grossesse .profil_form .form_content .form_left .contour_input{
    display: flex;
    width: 100%;
}
section .profile-right .grossesse .profil_form .form_content .form_right .contour_input{
    display: flex;
    width: 100%;
}
section .profile-right .grossesse .profil_form .form_content .form_left .contour_input .icon{
    width:11%;
    padding:10px 10px;
    background-color: rgba(255, 102, 171, 0.867);
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}
section .profile-right .grossesse .profil_form .form_content .form_left .contour_input input{
    padding: 11px;
    width: 100%;
    font-size: 15px;
    outline: none;
    border: 1px solid rgba(255, 102, 171, 0.867);
    border-radius:0px 7px 7px 0px;
    cursor: pointer;
    margin-left: -9px;
    color:#000;
}
section .profile-right .grossesse .profil_form .form_content .form_left .contour_input input[type="date"]{
    padding: 9px 10px;
    color:#000;
}
section .profile-right .grossesse .profil_form .form_content .form_right .contour_input .icon{
    width:11%;
    padding:10px 10px;
    background-color: rgba(255, 102, 171, 0.867);
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}
section .profile-right .grossesse .profil_form .form_content .form_right .contour_input input{
    padding: 11px;
    width: 100%;
    font-size: 15px;
    outline: none;
    border: 1px solid rgba(255, 102, 171, 0.867);
    border-radius:0px 7px 7px 0px;
    cursor: pointer;
    margin-left: -9px;
    color:#000;
}
section .profile-right .grossesse .profil_form_2{
    display: flex;
    justify-content: space-between;
}
section .profile-right .grossesse .profil_form_2 .contour_input{
    width: 50%;
}
section .profile-right .grossesse .profil_form_2 input{
    padding: 11px;
    width: 100%;
    font-size: 15px;
    outline: none;
    border: 1px solid rgba(255, 102, 171, 0.867);
    border-radius:0px 7px 7px 0px;
    cursor: pointer;
    margin-left: -9px;
    color:#000;
}
section .profile-right .grossesse .profil_form_2 .contour_input{
    display: flex;
    width: 70%;
}
section .profile-right .grossesse .profil_form_2 .contour_input .icon{
    width:9%;
    padding:10px 0px;
    margin-right: 5px;
    background-color: rgba(255, 102, 171, 0.867);
    color: #fff;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
}
section .profile-right .grossesse .profil_form_2 input[type="submit"]{
    color: #fff;
    width: 100%;
    border-radius: 5px;
}
section .profile-right .grossesse .profil_form_2 input[type="submit"]:hover{
    color:rgba(255, 102, 171, 0.867);
    width: 100%;
}



section .profile-right .grossesse .profil_form_3{
    display: flex;
    justify-content: space-between;
}
section .profile-right .grossesse .profil_form_3 .contour_input{
    width: 70%;
}
section .profile-right .grossesse .profil_form_3 input{
    padding: 11px;
    width: 100%;
    font-size: 15px;
    outline: none;
    border: 1px solid rgba(255, 102, 171, 0.867);
    border-radius:0px 7px 7px 0px;
    cursor: pointer;
    margin-left: -9px;
    color:#000;
}
section .profile-right .grossesse .profil_form_3 .contour_input{
    display: flex;
    width: 35%;
}
section .profile-right .grossesse .profil_form_3 .contour_input .icon{
    width:15%;
    padding:10px;
    padding-right: 15px;
    margin-right: 5px;
    background-color: rgba(255, 102, 171, 0.867);
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}
section .profile-right .grossesse .profil_form_3 input[type="submit"]{
    color: #fff;
    width: 100%;
    border-radius: 5px;
}
section .profile-right .grossesse .profil_form_3 input[type="submit"]:hover{
    color:rgba(255, 102, 171, 0.867);
    width: 100%;
}
section .profile-right .grossesse .profil_form_3  .password_center{
    margin-left: -10px;
    margin-right: 20px;
}

section .delete_compte{
    margin-top: -1.5em;
    margin-bottom: 5em;
}

section .delete_compte p{
    margin-top: -1.3px;
    color:rgba(255, 102, 171, 0.867);
    font-weight: 700;
    font-size: 20px;
}
section .delete_compte span a{
  padding: 20px;
  background-color: rgb(245, 0, 0);
  width: 200px;
  color: #fff;
  border-radius: 7px;
}
/* Fin de la partie de la grossesse */

/* La partie des rendez-vous */
 section .profile-right .grossesse .apointman{
    display: flex;
    justify-content: space-between;
}
 section .profile-right .grossesse .apointman .apointman_left,.apointman_right{
    width:50%;
}
/* Fin de la partie des rendez-vous */

/* La partie des identification */
section .profile-right .identification .footer-id{
    display: flex;
    text-align: justify;
    padding: 5px;
}
section .profile-right .identification .footer-id .acte,.allocation{
    width: 50%;
}

section .profile-right .identification p span{
    margin-left:10px;
    margin-right: 10px;
    border-bottom:1px dotted #000; 
    font-family: italic;
    font-size: 18px;
}
section .profile-right .identification .footer-id .acte .acte-p{
    width:50%;
    border-bottom:1px dotted #000; 
    font-family: italic;
    font-size: 18px;
}

section .profile-right .identification .footer-id .allocation .acte-p{
    width:50%;
    border-bottom:1px dotted #000; 
    font-family: italic;
    font-size: 18px;
}
section .profile-right .identification .cmu{
    width:25%;
    border-bottom:1px dotted #000; 
    font-family: italic;
    font-size: 18px;
}
/* Fin de la partie des identifications */

/* Fin profil right */

section .profile-left {
    width: 20%;
    margin-left:5em;
    margin-right: 1px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: sans-serif; 
    border: 1px solid rgba(255, 102, 171, 0.867);
    border-radius: 5px;
}
section .profile-left .menu{
    width: 100%;
}
section .profile-left .menu ul{
	list-style:none;
    border-radius:5px;
    width: 100%;
    margin-top: 0;
    padding: 0;
}
section .profile-left .menu ul li{
    padding:15px;
	position:relative;
	width:100%;
	background-color:#fff;
    color: black;
	border:1px solid silver;
	vertical-align:middle;
	cursor:pointer;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
    transition:all 0.3s;
} 
section .profile-left .menu ul li:hover{
	background-color:rgba(255, 102, 171, 0.867);
}
section .profile-left .menu > ul > li{
	border:1px solid silver;
}
section .profile-left .menu ul ul{
	transition:all 0.3s;
	opacity:0;
	position:absolute;
	visibility:hidden;
	left:101%;
	top:-2%;
}


section .profile-left .menu ul li:hover > ul{
	opacity:1;
	visibility:visible;  
}
section .profile-left .menu ul li a{
	color:#000;
	text-decoration:none;
}
section .profile-left .menu span{
	margin-right:15px;
}
/* section .profile-left .menu > ul > li:nth-off-type(2)::after{
	content:"+";
	position:absolute;
	margin-left:5%;
	color:#fff;
	font-size:20px;
} */

/* fin de la partie de la maman */

/* Partie de l'enfant */
.rv-enfant{
    margin: 60px 90px;
    display: flex;
   
}
.enfant-right,.enfant-left{
    width: 50%;
    padding: 0 20px;
    background-color: rgba(236, 225, 225, 0.24);
    border:1px solid rgba(236, 225, 225, 0.863);
}
.enfant-right{
    margin-left: 5px;
}
.enfant-left{
    margin-right: 5px;
}
.rv-enfant .enfant-left .header{
    margin-top:-20px;
    margin-bottom: -30px;
}
.rv-enfant .enfant-left .rv-body{
    background-color: rgba(0, 0, 0, 0.123);
    margin: 5px 20px;
    padding: 10px;
}

.rv-enfant .enfant-left .rv-body .nom ,.infos{
    font-size: 17px;
}
/* fin de la partie de l'enfant */

/* Fin de la partie profil principale */

/* La partie des rendez-vous precedent */
.precedent{
    padding: 0px 15px;
    margin-left: 18em;
    margin-bottom: 6em;
    border: 1px solid rgba(17, 16, 16, 0.116);
    background-color: rgba(2, 2, 2, 0.034);
    width: 50%;
    box-shadow:  -1px 2px 7px 4px rgba(192, 192, 192, 0.5);
}
.precedent-body:hover{
    box-shadow:  -1px 2px 7px 4px rgba(192, 192, 192, 0.5);
}
.precedent-left{
    width: 80%;
}
.precedent-right{
    width: 20%;
    padding: 5px ;
}
.precedent-right .precedent-infos p{
    text-align: center;
    margin-top: 2em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
}
.precedent-infos p a{
    font-size: 20px;
}
.precedent-infos p:hover{
    background-color: rgba(10, 10, 10, 0.445);
}
.precedent .precedent-body{
    padding: 0 12px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.082);
    margin-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.096);
}
.precedent-heure{
    margin-left: 12px;
}
.precedent-body .trait{
    margin-left: 12px;
}
/* Fin de la partie des rendez-vous precedent */

/* La partie du contact */
.banier_border{
    width: 100%;
    border: 1px solid rgba(255, 102, 171, 0.867);
    background-color: rgba(255, 102, 171, 0.867);
    margin-top: -1px;
}
.banier_border .banier-contact{
    width: 100%;
    padding-top: 2em;
}
.banier_border .banier-contact h1{
    text-align: center;
    font-size: 3em;
    color:#fff;
}
.contact_section{
    display: block;
    background-color: #fff;
    box-shadow: 0px 0px 15px #0000001a; 
    margin-top: -1px;
}
.contact_section .infos_contact{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
.contact_section .infos_contact .content{
    display: flex;
    flex-direction: space-around;
    width: 100%;
}
.contact_section .infos_contact .content p{
    width: 32%;
    margin-left: 15px;
}
.contact_section .infos_contact .content p i{
    border: 1px solid rgba(255, 102, 171, 0.867);
    padding: 15px;
    margin:0px 10px;
    border-radius: 100%;
    color: rgba(255, 102, 171, 0.867);
}
.contact_section .infos_contact .content p .fa-map-marker-alt{
    padding: 15px 17px;
    margin:0px 10px;
    border-radius: 100%;
}
.contact_section .infos_contact .content p i:hover{
    border: 1px solid rgba(255, 102, 171, 0.867);
    color: #fff;
    background-color:  rgba(255, 102, 171, 0.867);
}
.contact_section .infos_contact .content p span{
    margin-right: 30px;
}
section .contact_form{
    display: flex;
    width: 100%;
  
}
section .contact_form .form_left,.form_right{
    width: 50%;
}
section .contact_form  label{
    color:rgba(255, 102, 171, 0.867);
    text-align: left;
    
}
section .contact_form .form_left {
    padding: 2px;
    margin-right: 10px;
}
section .contact_form .form_left input[type="email"],input[type="text"],textarea{
    padding: 15px;
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius:7px;
    cursor: pointer;
    color:#000;
}
section .contact_form .form_left input[type="email"]:focus{
    border:1px solid rgba(255, 102, 171, 0.867);
}
section .contact_form .form_left input[type="text"]:focus{
    border:1px solid rgba(255, 102, 171, 0.867);
}
section .contact_form .form_right textarea{
    margin-top: -10px;
    width: 100%;
    height: 242px;
}
section .contact_form .form_right textarea:focus{
    border:1px solid rgba(255, 102, 171, 0.867);
    width: 100%;
    height: 242px;
}
section .contact_form .form_right{
    display: block;
    margin-left: 10px;
}
section .contact_form .form_right input[type="submit"]{
    margin-top: 8px;
    width: 150px;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 700;
    background-color:  rgba(255, 102, 171, 0.867);
    color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(255, 102, 171, 0.867);
    border-radius: 5px;
    outline: none;
    width: 100%;
}
section .contact_form .form_right input:hover{
    border: 1px solid rgba(255, 102, 171, 0.867);
    background-color: transparent;
    color:  rgba(255, 102, 171, 0.867);
}
.google_map{
    background-color: #fff;
    padding-bottom:3em ;
    margin-bottom: -2em;
    width: 100%;
}
.google_map iframe{
    width: 100%;
    height: 25em;
}
/* Fin de la partie du contact */

/*Debut de la partie about */
section .about{
    margin-top: -2em;
    display: flex;
    text-align: justify;
    margin-bottom: 2em;
}
section .about_right{
    width: 90%;
    margin-left: 10px;
    padding-top:15px ;

}

section .about_right h2{
    margin-top: -0.1em;
}
section .about_right .about_right_body{
    margin-top: -3em;
}
section .about_right .about_right_body p{
    line-height: 1.5em;
}
section .about_right .about_right_body .contact{
    margin-top:3em;
}
section .about_left{
    margin-right: 10px;
}
section .about_left .logo{
    width: 100%;
}
section .about_left .logo img{
    width:90%;
    height: auto;
}

.about_card{
    border: 1px solid rgba(255, 102, 171, 0.867);
    display: flex;
    text-align: justify;
    margin: 10px;
    border-radius: 10px;
    margin-top: 3em;
}
section .about_card_logo{
    width: 50%;
}
section .about_card_logo .logo{
    width: 100%;
}
section .about_card_logo .logo img{
    width: 100%;
}
section .about_card_body{
    width: 50%;
    margin-left: 20px;
}
section .about_card_body h4{
    margin-top: -0.1em;
}
section .about_card_body .p1{
    margin-top: -2em;
}
/* La partie de la sensibilisation */
.sens_top .blog_title{
    margin-top:1em;
    margin-left: 3.8em;
    margin-bottom: -1.5em;
    font-size: 4em;
}
.sens_top .blog_show_title{
    margin-top:2.5em;
    margin-left: 4.7em;
    margin-bottom: -3.5em;
}
section .sens{
    display: flex;
    text-align: justify;
    margin-bottom: 2em;
}
section .sens_left{
    display: block;
    width: 70%;
}
section .sens_left .sens_left_content{
    display: flex;
    flex-direction: space-between;
    width: 100%;
    padding: 0px 15px;
    margin-right: 10px;
    background-color: #fff;
}
section .sens_left .sens_left_content .sidebar{
    width:25%;
    padding: 10px;
    margin-right: 15px;
    text-align: right;
}
section .sens_left .sens_left_content .sidebar ul{
    list-style: none;
}
section .sens_left .sens_left_content .sidebar ul li{
    display:inline-block;
    font-size:12px
}
section .sens_left .sens_left_content .sidebar ul li a{
    color: rgba(0, 0, 0, 0.616);
    font-weight: 900;
}
section .sens_left .sens_left_content .sidebar .infos p a{
    color: rgba(0, 0, 0, 0.616);
    font-weight: 900;
}
section .sens_left .sens_left_content .image{
    width:75%;
}
section .sens_left .sens_left_content .image .body_header{
    display: flex;
    flex-direction: space-between;
    margin-top: -1.5em;
    margin-bottom: -2.1em;
}
section .sens_left .sens_left_content .image .body_header .article_title{
    width: 60%;
    font-size: 18px;
    font-weight: 700;
}
section .sens_left .sens_left_content .image .body_header .social{
    width: 40%;
    text-align: right;
}
section .sens_left .sens_left_content .image .body_header .social a:first-child{
    margin-right: 10px;
}
section .sens_left .sens_left_content .image .body_header .social a:last-child{
    margin-left: 10px;
}
section .sens_left .sens_left_content .image .body_header .social a{
    color: rgba(255, 102, 171, 0.867);
}
section .sens_left .sens_left_content .image p img{
    width:100%;
    height: auto;
}
section .sens_left .sens_left_content .image .text{
    padding: 10px 0px;
    color: rgba(0, 0, 0, 0.596);
    font-size: 17px;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section .sens_left .sens_left_content .image .btn-primary{
    text-align: center;
    border:1px solid rgba(255, 102, 171, 0.867);
    background-color: rgba(255, 102, 171, 0.867);;
    padding: 12px 20px;
    outline: none;
    color: #fff;
    border-radius: 5px;
    transition:0.25s; 
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
  }
  section .sens_left .sens_left_content .image .btn-primary:hover{
    background: transparent;
    color: rgba(255, 102, 171, 0.867);;
   
  }

  /* Partie de l'affichage du blog */
.sens_top .blog_show_title{
    padding-left: 20px;
      margin-left: -1px;
  }
  section .sens_left .blog{
    display: flex;
    flex-direction: space-between;
    width: 100%;
    padding: 0px 15px;
    background-color: #fff;
}
section .sens_left .blog p img{
    width: 100%;
}
section .sens_left .blog .blog_left{
    width:25%;
    padding: 10px;
    margin-top: -2em;
    margin-right: 20px;
    margin-left: -45px;
    text-align: right;
}
section .sens_left .blog .blog_left ul{
    list-style: none;
}
section .sens_left .blog .blog_left ul li{
    display:inline-block;
    font-size:12px
}
section .sens_left .blog .blog_left ul li a{
    color: rgba(0, 0, 0, 0.616);
    font-weight: 900;
}
section .sens_left .blog .blog_left .infos p a:last-child{
    margin-left: 18px;
}
section .sens_left .blog .blog_left .infos p a{
    color: rgba(0, 0, 0, 0.616);
    font-weight: 900;
}
section .sens_left .blog .blog_right{
    width:75%;
    padding-right: 15px;
}
section .sens_left .blog .blog_right .body_header{
    display: flex;
    flex-direction: space-between;
    margin-top: -1.5em;
    margin-bottom: -2.1em;
}
section .sens_left .blog .blog_right .body_header .article_title{
    width: 60%;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
section .sens_left .blog .blog_right .body_header .social{
    width: 40%;
    text-align: right;
}

section .sens_left .blog .blog_right .text{
    padding: 10px 0px;
    color: rgba(0, 0, 0, 0.596);
    font-size: 17px;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  /* Fin de l'affichage du blog */

  /* Partie du commentaire du blog */
    .post_comment{
        padding:28px ;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.171);
        margin-right: 23px;
    }
    .post_comment .comment_content{
        display: block;
        margin-bottom:20px;
    }
    .post_comment .comment_content .user_name{
        font-size: 18px;
        font-weight: 700;
    }
    .post_comment .comment_content .comment_date{
        font-size: 13px;
        padding: 3px 0 10px 0;
        color: rgba(0, 0, 0, 0.404);
        font-weight: 700;
    }
    .post_comment .comment_content .content{
        color: rgba(0, 0, 0, 0.671);
        font-weight: 700;
    }
    .comment{
        padding:28px ;
        margin-right: 23px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.171);
        margin-top: 3em;
    }
   
    .comment .comment_form{
        display: block;
    }
    .comment .comment_form .comment_input{
        display: flex;
        flex-direction: space-between;
    }
    .comment .comment_form .comment_input p{
        display:block;
        width: 50%;
    }
    .comment .comment_form .comment_input p input{
        padding: 15px;
        width: 100%;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.199);
        border-radius:7px;
        cursor: pointer;
        color:#000;
    }
    .comment .comment_form .comment_input p:last-child{
        margin-left: 15px;
    }
    .comment .comment_form input[type="text"]:focus{
        border: 1px solid rgba(255, 102, 171, 0.867);
    }
    .comment .comment_form input[type="email"]:focus{
        border: 1px solid rgba(255, 102, 171, 0.867);
    }
    .comment .comment_form textarea:focus{
        border: 1px solid rgba(255, 102, 171, 0.867);
    }
    .comment .comment_form p{
        display:block;
    }
  /* Fin de la partie du commentaire du blog */

section .sens_right{
    width: 30%;
    margin-left:10px ;
    /* box-shadow: 0px 0px 15px #0000001a; */
    border: 1px solid rgba(221, 220, 220, 0.486);
    padding: 20px;
    background-color: transparent;

}
section .sens_right .article_populaire{
    margin-top: -0.2px;
    margin-bottom: -1px;
    text-align: center;
    background-color: rgba(255, 102, 171, 0.867);
    color: #fff;
    border-radius: 2px;
    padding: 5px;
}
section .sens_right .sens-body-card{
    width: 100%;
    background-color:transparent;
    display: flex;
    margin-top: 1.1em;
    margin-bottom: -1.2em; 
}
section .sens_right .sens-body-card .card-img{
    width:28%;
}

section .sens_right .sens-body-card .card-img img{
    width:100%;
    height: auto;
}
section .sens_right .sens-body-card .card-text{
    width:62%;
    padding:15px;
    margin-left: 18px;
}
section .sens_right .sens-body-card .card-text .date_article{
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: none;
    margin-top:-0.01em ;
    margin-left: -25px;
    text-align: left;
    color: #000;
}
section .sens_right .sens-body-card .card-text .title_article{
    margin-top: -1.3em;
    margin-left: -25px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: none;
    color: #000;
    text-align: left;
}

/* Fin de la partie about */

/* Le slider des partenaires */
.partener_slider{
    background-color: #fff;
    margin: 7em 5em -3em  5em;

}
.partener_slider .owl-carousel{
    padding-left: 6.6em;
}
/* Fin de la section du slider des partenaires */



/* La partie des antecedents */
.antecedent h4{
    font-weight: 700;
    font-family: sans-serif;
}
.antecedent  p {
    margin-left:10px;
    margin-right: 10px;
    font-family: italic;
    font-size: 18px;
}
.antecedent .mere p span{
    margin-left:10px;
    margin-right: 10px;
    border-bottom:1px dotted #000; 
    font-family: italic;
    font-size: 15px;
}

.antecedent .pere p span{
    margin-left:10px;
    margin-right: 10px;
    border-bottom:1px dotted #000; 
    font-family: italic;
    font-size: 15px;
}
.antecedent .fam, .at, .traite{
    font-family: sans-serif;
    font-size: 15px;
}
/* Fin de la partie des antecedents */


/* La partie du calandirie cpn */

.calandirier-cpn .table-cpn{
    border-collapse:collapse;
    width:100%;   
}
.calandirier-cpn .table-cpn .th-cpn{
    background-color: green;
    color:#fff;
    font-weight: 900;
    font-size: 20px;
}
.calandirier-cpn .table-cpn .tr-cpn:hover{
    background-color: green;
    color:#fff;
}
.calandirier-cpn .table-cpn .td-cpn{
    font-weight: 700;
}
.calandirier-cpn .table-cpn .td-cpn,.th-cpn{
    border:1px solid black;
    width:20%;
    text-align: center;
    padding: 10px;
}
.calandirier-cpn .table-cpn .tr-cpn .td-cpn:first-child{
    font-weight: 700;
    font-size: 18px;
}
/* Fin de la partie calandirie cpn */

/* La partie du CPN1 */

.cpn1 .partie-1 p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.cpn1 .partie-1 p span{
    margin-left:10px;
    margin-right: 10px;
    border-bottom:1px dotted black;
    font-family: italic;
    font-size: 15px;
    font-weight: 400;
}
.cpn1 .partie-2{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.cpn1 .partie-2 span{
    border: 1px solid orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 30px;
    border-radius: 100px;
    background: orangered;
    color: #fff;
    font-weight: 700;
}
.cpn1 .partie-3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.cpn1 .partie-3 p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.cpn1 .partie-3 p span{
    margin-left:10px;
    margin-right: 10px;
    border-bottom:1px dotted black;
    font-family: italic;
    font-size: 15px;
    font-weight: 400;
}

.cpn1 .partie-4 .table-elements{
    border-collapse:collapse;
    width:60%;
}
.cpn1 .partie-4 .table-elements .td-element{
    padding: 8px;
}
.cpn1 .partie-4 .table-elements .td-element:first-child{
    font-weight: 700;
    font-size: 17px;
}
.cpn1 .partie-4 .table-elements .td-element label{
    margin-left: 30px;
}
.cpn1 .partie-4 .table-elements .td-element .text{
    font-size: 12px;
    font-size: italic;
    font-weight: none;
}
/* Fin de la partie du CPN1 */



/* Le sidebar du profil */

/* Fin du sidebare du profil */
